*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Lovepik_com-610711384-Cute\ personality\ Memphis\ decorative\ pattern\ PNG.png");
    background-position:  center left;
    background-size: cover;
    background-color:#c7daf0;
    
}

.form{
    box-shadow: 0px 15px 20px rgb(56, 52, 52, 0.3);
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.pic-side{
    width: 75%;
    background-image: url("../img/Counseller_vs_psychologist-removebg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6fb5c5;
}

.pic-side h3{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.4rem; 
}

.pic-side a{
    text-decoration: none;
    color: #0a323b;
}

.pic-side h4{
    letter-spacing: 2px;
    margin: 30px;
    font-weight: 800; 
    color: #145361;
    font-size: 400;
    cursor: pointer;
}

.form-side{
    background-color: #ebf0f1;;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.sign-up{
    display: block;
    text-align: end;
    margin-top: 5px;
    font-size: small;
}

.sign-up p{
    display: inline;
    padding-right: 5px;
}

.sign-up a{
    text-decoration: none;
    color:rgb(140, 28, 209);
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 10px 30px 45px;
    padding-top: 20px;
    border-radius: 2px;
}

.social h3{
    margin-bottom: 15px;
}

.sign{
    border-top: 1px solid rgba(166, 163, 163, 0.336);
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
    
}

form{
    display: flex;
    flex-direction: column;
}

#email{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: small;
    word-spacing: 1px;
}

#password{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: small;
    word-spacing: 1px;
}

#password input{
    padding-top: 5px;
    margin-top: 5px;
    width: 85%;
    height: 30px;
    transition: .3s ease;
    border: 2px solid transparent;
    border-radius: 4px;
    
}

#password label{
    margin-top: 10px;
}

#email label{
    margin-top: 10px;
}

#password input:focus, #password input:hover, #email input:focus, #email input:hover{
    outline: none;
    border: 2px solid #d83c63b1 ;
    background-color: #fff;
    box-shadow: 0 0 0 3px rgb(234 76 137 / 10%);
    transition: 0.4s ease-in;
}

#email input{
    width: 85%;
    height: 30px;
    margin-top: 5px;
    transition: .3s ease;
    border: 2px solid transparent;
    border-radius: 4px;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btn a{
    text-decoration: none;
    color:rgb(140, 28, 209);
    margin-bottom: 5px;
    font-size: small;
}

.btn input{
    margin-top: 10px;
    width: 55%;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: 2px solid ;
    background: #ff2e63;
    cursor: pointer;
    transition: 300ms;
    color: #edf6f9;
    font-size: 1rem;
    font-weight: 600;
}

.btn input:hover{
    transition: 300ms ease-in-out;
    background: #d3214d;
}

.social input{
    width: 90%;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: 2px solid ;
    background: rgb(35, 128, 240);
    cursor: pointer;
    transition: 300ms;
    color: #edf6f9;
    font-size: small;
}


